p {
  margin: 0;
}

.box {
  width: 375px;
  height: 667px;
  margin: 0 auto;
  border: 1px solid #000;
  position: relative;
}
/* 音频 */
.audio {
  position: absolute;
  opacity: 0;
}

.audio-info {
  text-align: center;
  color: #fff;
  background: gray;
  opacity: 0.8;
  padding: 10px 0;
}
/* 进度条样式 */
.duration-bar {
  width: 100%;
  color: #fff;
  padding: 4px;
  position: fixed;
  bottom: 65px;
   background: #333; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  right: 0px;
}
/* 进度格 */
.time-bar {
  width: 240px;
  position: relative;
}

.inner-bar {
  height: 1px;
  background: #333;
  margin-top: 10px;
}

.outline-bar {
  height: 3px;
  width: 0px;
  background: #C70C0C;
  margin-top: -2px;
}

.time-point {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 3px;
}
/* 播放器样式 */
.operate {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
   background: #333; 
  text-align: center;
  line-height: 60px;
}
/* 暂停播放 */
.operate-btn {
  width: 48px;
  margin: 0 24px;
  vertical-align: middle;
}
/* 下一首 下一首 */
.toggle-btn {
  width: 24px;
  vertical-align: middle;
}

.pause {
  display: none;
}
